#!name=🍿️ DualSubs: 🎵 Spotify
#!desc=Spotify歌词增强及双语模块
#!openUrl=http://boxjs.com/#/app/DualSubs.Spotify
#!author=VirgilClyne
#!homepage=https://github.com/DualSubs
#!manual=https://github.com/DualSubs/Spotify/wiki/🍿-DualSubs:-🎵-Spotify
#!icon=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Spotify.png

#[rewrite_local]
# DualSubs.Spotify.Tracks.response.json
^https?:\/\/api\.spotify\.com\/v1\/tracks\? url script-response-body https://raw.githubusercontent.com/DualSubs/Spotify/main/js/DualSubs.Spotify.response.js

# DualSubs.Spotify.Lyrics.request.json
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*)format=json url script-request-body https://raw.githubusercontent.com/DualSubs/Spotify/main/js/DualSubs.Spotify.request.js
# DualSubs.Spotify.Lyrics.request.proto
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*) url script-request-body https://raw.githubusercontent.com/DualSubs/Spotify/main/js/DualSubs.Spotify.request.js

# DualSubs.Spotify.Lyrics.Translate.response.json
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*)format=json url script-response-body https://raw.githubusercontent.com/DualSubs/Universal/main/js/DualSubs.Subtitles.Translate.response.js
# DualSubs.Spotify.Lyrics.Translate.response.proto
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/\w+\?(.*) url script-response-body https://raw.githubusercontent.com/DualSubs/Universal/main/js/DualSubs.Subtitles.Translate.response.js

# DualSubs.Spotify.Lyrics.External.response.json
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/(.+)\?(.*)format=json(.*)subtype=External url script-response-body https://raw.githubusercontent.com/DualSubs/Universal/main/js/DualSubs.Lyrics.External.response.js
# DualSubs.Spotify.Lyrics.External.response.proto
^https?:\/\/spclient\.wg\.spotify\.com\/color-lyrics\/v2\/track\/\w+\?(.*)subtype=External  url script-response-body https://raw.githubusercontent.com/DualSubs/Universal/main/js/DualSubs.Lyrics.External.response.js

#[mitm]
hostname = api.spotify.com, spclient.wg.spotify.com
